h1 {
  color: #5c2a9d;
  font-family: 'Arial', sans-serif;
}

#Em {
  font-family: 'Permanent Marker', cursive;
  font-size: 100px;
}



h2 {
  color: #5c2a9d;
}

body {
  font-family: 'Merriweather', Serif;
  text-align: center;

}

marquee {
  margin: 20px;
}

p {
  font-size: 20px;
  margin: 50px auto 50px auto;
  width: 30%;
}

li {
  font-size: 18px;
}

ul {
  margin-bottom: 50px;
}

.eminem1 {
  width: 20%;
}

.eminem2 {
  margin-left: 200px;

}


.eminem3 {
  margin-right: 200px;
}

.Quotes {
  margin: 100px auto 0;
  font-size: 30px;
}



.btn {
  background: #828282;
  background-image: -webkit-linear-gradient(top, #828282, #333333);
  background-image: -moz-linear-gradient(top, #828282, #333333);
  background-image: -ms-linear-gradient(top, #828282, #333333);
  background-image: -o-linear-gradient(top, #828282, #333333);
  background-image: linear-gradient(to bottom, #828282, #333333);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #242424;
  background-image: -webkit-linear-gradient(top, #242424, #6b6b6b);
  background-image: -moz-linear-gradient(top, #242424, #6b6b6b);
  background-image: -ms-linear-gradient(top, #242424, #6b6b6b);
  background-image: -o-linear-gradient(top, #242424, #6b6b6b);
  background-image: linear-gradient(to bottom, #242424, #6b6b6b);
  text-decoration: none;
}
